# Backend ignore
/backend/bin
/backend/obj
# /backend/appsettings.json

# Mouth ignore
# зависимости
node_modules/

# build файлов
build/
dist/

# системные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
